@use "variables";

body {
  margin: 0;
  background-color: variables.$bg;
  color: var(--text);
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner {
  background: url(../images/nice-view.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
